<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margm :: Comentar</title>
    <link rel="stylesheet" href="/static/comentarios/styles/comentario_form.css">
</head>
<body>
    <!-- Menu Lateral -->
    <div id="menu-lateral">
        <h1>Margm</h1>

        <a target="_self" hreflang="pt-br">Início</a>
        <a target="_self" hreflang="pt-br">Minhas resenhas</a>
        <a href="/resenhas/create/" target="_self" hreflang="pt-br">Nova resenha</a>
        <a href="/livros/create/" target="_self" hreflang="pt-br">Cadastrar livro</a>
        <a href="/usuarios/create/" target="_self" hreflang="pt-br">Cadastrar usuário</a>
        <a target="_self" hreflang="pt-br">Ajuda</a>
        <a target="_self" hreflang="pt-br">Sair</a>
    </div>

    <div id="nova-resenha">
        <h2>Comentar</h2>

        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Submit"></p>
    </div>
</body>
</html>
