<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margm :: Cadastrar Usuário</title>
    <link rel="stylesheet" href="/static/usuarios/styles/usuario_form.css">
</head>
<body>
    <!-- Menu Lateral -->
    <div id="menu-lateral">
        <h1>Margm</h1>

        <a target="_self" hreflang="pt-br">Início</a>
        <a target="_self" hreflang="pt-br">Minhas resenhas</a>
        <a target="_self" hreflang="pt-br">Nova resenha</a>
        <a href="/livros/create/" target="_self" hreflang="pt-br">Cadastrar livro</a>
        <a id="selecionado" href="/usuarios/create/" target="_self" hreflang="pt-br">Cadastrar usuário</a>
        <a target="_self" hreflang="pt-br">Ajuda</a>
        <a target="_self" hreflang="pt-br">Sair</a>
    </div>

    <!-- Seção Cadastrar Usuário -->
    <div id="cadastrar-usuario">
        <h2>Cadastrar Usuário</h2>
        <h3>Preencha os campos corretamente para cadastrar o usuário.</h3>

        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Submit"></p>
    </div>
</body>
</html>
